      <h3>Contatos</h3>
<div class="contatos bg-secondary">
  <div class="bg-info">
    <label for="">E-mail</label> <a href="">asfuture2019@gmail.com</a>

    <label for="">Whatzap</label><a href="">(11)99542-1492</a>
  </div>

  <div class="bg-info">
    <label for="">Linkedln</label> <a href="">https://www.linkedin.com/in/alexferreira-asfuture/</a>

    <label for="">GitHub</label><a href="https://github.com/asfuture">https://github.com/asfuture</a>
  </div>


  <div class="bg-info">
    <label for="">Instagram</label> <a href="">Instagram@gmail.com</a>

    <label for="">Facebook</label><a href="">https://www.facebook.com/</a>

  </div>
</div>
